html, body{
    margin: 0;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    background: #fff;
}
body a{
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
    text-decoration: none;
}
input[type="button"], input[type="submit"]{
    transition: 0.5s all;
    -webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}	
p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
/*------ Banner ------*/
.banner{
    background: url(../images/bannerbg.jpg);
    background-color: rgb(92, 92, 92);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}
/*------ Header ------*/
header{
    padding: 2em 2.5em;
}
header h1{
    margin: 0;
}
.logo{
    float: left;
}
.logo h1 a{
    font-size: 1.3em;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-family: 'Josefin Sans', sans-serif;
}
.logo h1 a span{
    display: block;
    font-size: 0.3em;
    letter-spacing: 13px;
    text-transform: capitalize;
    background: rgba(255, 255, 255, 0.22);
    padding: 5px 0 5px 10px;
    color: rgb(33, 99, 158);  
    font-weight: 600;
}
/*------ //Header ------*/

/*------ Navigation Menu ------*/
.mobile-nav-button {
    position: fixed;
    margin: 4.3em 0em 0;
    right: 2.5%;
    top: -2.5%;
    z-index: 999;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.04);
}

.mobile-nav-button .mobile-nav-button__line {
	width: 30px;
    height: 2px;
    background: #fff;
    position: relative;
    transition: 1s ease;
    margin: .3em auto;
}

.mobile-nav-button .mobile-nav-button__line:nth-of-type(2) { margin: 0.7em auto; }

.mobile-nav-button .mobile-nav-button__line--1 {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	top: 13px;
	position: absolute;
}

.mobile-nav-button .mobile-nav-button__line--2 { 
	display: none;	
}

.mobile-nav-button .mobile-nav-button__line--3 {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	top: 13px;
	position: absolute;
}

.mobile-nav-button .mobile-nav-button__line--1,.mobile-nav-button .mobile-nav-button__line--3 {
	left:10%;
}

.mobile-menu {
    display: block;
    width: 20%;
    right: -20%;
    height: 100%;
     background: rgba(6, 17, 27, 0.54);
    position: fixed;
    z-index: 9998;
    transition: 0.6s ease;
    top: 0;
    opacity: 0;
}

.mobile-menu ul {
    position: relative;
    /* top: 20%; */
    padding: 0;
    padding-top: 7.5em;
}

.mobile-menu ul li {
    list-style: none;
    margin-bottom: 1.5em;
    display: block;
}
.mobile-menu ul li a {
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: left;
    text-decoration: none;
    color: #fff;
    font-size: .91em;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    padding: 1em 0 1em 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.open > ul.dropdown-menu.agile_short_dropdown{
    display: block;
    transform: none !important;
    min-width: 65%;
    border: none;
    box-shadow: none;
    border-radius: 0;
    left: 18%;
}
.open > ul.dropdown-menu.agile_short_dropdown li{
	margin:0 !important;
}
ul.dropdown-menu.agile_short_dropdown > li > a:hover{
    background: none;
}
.mobile-menu ul li a:after {
	content: '';
	background: #0086fe;
	width: 100%;
	height: 100%;
	position: absolute;
	right: -100%;
	top: 0;
	z-index: -1;
	transition: 0.4s ease;
}

.mobile-menu ul li a:hover,.mobile-menu ul li.active a { 
	color: #fff; 
}

.mobile-menu ul li a:hover:after,.mobile-menu ul li.active a:after { 
	right: 0; 
}
li.dropdown.act a.w3_icons_act {
    background: #0e0e0e;
	color: #fff;
}
.mobile-menu img {
	position: absolute;
	width: 150px;
	display: block;
	left: 50%;
	top: 3rem;
	transform: translatex(-50%);
	-webkit-transform: translatex(-50%);
	-moz-transform: translatex(-50%);
	-o-transform: translatex(-50%);
	-ms-transform: translatex(-50%);
	padding: 0;
	text-align: center;
}

.mobile-menu--open {
	opacity: 1;
	right:0%!important;
}
.dropdown.active.open a  ul.dropdown-menu.agile_short_dropdown li a.w3_icon_1:after{
	background:none !important;
}
.mobile-menu {
    overflow-y: auto;
	    z-index: 9!important;
}
/*------ //Navigation Menu ------*/

/*------ Banner_Info ------*/
.banner_info{
    margin: 11em 0 0 14em;
    text-align: left;
}
.banner_info h2{
    font-size: 2.5em;
    letter-spacing: 2px;
    color: #0086fe;
    text-shadow: 1px 1px 2px #000;
}
.banner_info h2 span{
    color: #171717;
}
p .banner-p{         
    color: #fff;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 300;
    width: 38%;
    float: none;
    text-align: left;
    line-height: 30px;
}
#typed{
    font-size: 2em;
    color: #0086fe;
    text-transform: capitalize;
    line-height: 1.5em;
    letter-spacing: 7px;
    font-weight: 300;
    text-shadow: 1px 1px 2px #000;
    margin: 0.5em 0 0.5em;
    display: inline-block;
}
#typed i{
    font-style: normal;
    color: #000000;
}
.typed-cursor{
    opacity: 1;
    font-weight: 300;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: #fff;
    font-size: 2.5em;
}
/*------ //Banner_Info ------*/

/*------ About ------*/
#about{
    min-height: 100vh;
    padding: 3em 0em 2em 0em;
    background: rgba(0, 0, 0, 0.795); 
}
.col-lg-8 h2{
    margin-top: .5em;
    color: #fff;
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
}
.text{
    color: rgb(196, 196, 196);
    text-align: justify;
    font-family: 'Josefins Sans', sans-serif;
    padding: 2em 0 2em 0;
    font-weight: 400;
}
.text span{
    font-size: 25px;
    font-weight: 500;
}
.tools{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: rgb(194, 194, 194);
}
.tools li{
    padding: 1em 0em .2em 0em;
}
/*------ //About ------*/

/*------ Progressive-Effects ------*/
.progressive-effects {
	background: url("../images/progress.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    padding: 3em 0em 2em 0em;
    min-height: 100vh;
}
#skills h3 {
	text-align: center;
	margin-bottom: 30px;
	font-size: 40px;
	color: #FFF;
}

	/*------ Progress-Bar ------*/

	#about-us .lead {
		font-family: 'Montserrat', sans-serif;
		font-size: 16px;
		margin-bottom: 5px;
		text-align: left;
		color: #FFF;
	}

	.progress{
		height: 20px;
		background-color: #fff;
		border-radius: 0;
		box-shadow: none;
		-webkit-box-shadow: none;
		margin-bottom: 25px;
	}

	.progress-bar{
		box-shadow: none;
		-webkit-box-shadow: none;
		text-align: right;
		padding-right: 12px;
		background-color: #0086f6;
		font-size: 12px;
		font-weight: 600;
	}

	.progress .progress-bar.six-sec-ease-in-out {
		-webkit-transition: width 2s ease-in-out;
		transition: width 2s ease-in-out;
	}

	/*------ //Progress-Bar ------*/

/*------ Progressive-Effects ------*/


/*------ Contact ------*/
#contact{
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.795); 
}
#contact a{
    text-decoration: none;
}
.section-gap {
  padding: 3em 0 2em 0;
}
.wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.d-grid {
  display: grid;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
button,
select {
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}
button,
.btn,
select {
  cursor: pointer;
}
h3.global-title {
  font-size: 38px;
  line-height: 45px;
  color: #fff;
  margin-bottom: 50px;
  text-transform: capitalize;
}
.margin-up {
  margin-top: 2.5rem;
}
.contact-view {
  grid-template-columns: 1fr 1.3fr;
  grid-gap: 30px;
}
.cont-top {
  display: grid;
  grid-template-columns: 20px auto;
  grid-column-gap: 20px;
}
.twice {
  margin-bottom: 20px;
}
.cont-details span.fa {
  font-size: 22px;
  color: #0086f6;
  display: block;
  margin-top: 3px;
}
.cont-details h6 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
}
.cont-details p,
.cont-details p a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgb(196, 196, 196);
  margin-top: 3px;
}
.cont-details address {
  margin: 25px 0;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.cont-details address p {
  margin: 5px 0;
}
.twice-two {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}
.map-content-9 form input,
.map-content-9 form textarea {
  background: #f8f9fa;
  border: 2px solid rgba(216, 216, 216, 0.3);
  color: #777;
  font-size: 16px;
  padding: 12px 15px;
  width: 100%;
  border-radius: 4px;
  height: 55px;
}
.map-content-9 h5 {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 20px;
  color: #000000;
}
.map-content-9 form textarea {
  resize: none;
  min-height: 140px;
}
.map-content-9 form input:focus,
.map-content-9 form textarea:focus {
  outline: none;
  border: 2px solid #051b35;
  background: #fff;
  box-shadow: none;
}
button.btn-contact{
  border: none;
  font-size: 16px;
  padding: 15px 30px;
  margin: 20px auto 0;
  color: #fff;
  background: #0086f6;
  border-color: #0086f6;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.cont-details h6 a {
  color: #fafbfd;
}
/*------ //Contact ------*/

/*------ Copyright ------*/
.copyright{
    color: #fff;
    font-size: 13px;          
}

/*------ Responsive ------*/
@media(max-width:1660px){

}
@media(max-width:1440px){
    /*.banner{
        min-height: ;
    }*/
    .banner_info h2{
        font-size: 2.2em;
    }
    #typed{
        font-size: 1.6em;
        margin: 0 0 0.5em;
    }
    p .banner-p{
        font-size: 16px;
        line-height: 31px;
    }
    .banner_info{
        margin: 6em 0 0 14em;
    }
    .mobile-menu ul li a{
        font-size: 0.9em;
        padding: 0.8em 0 0.8em 1.5em;
        letter-spacing: 2px;
    }
    .mobile-menu ul{
        padding-top: 7em;
    }
    .mobile-menu{
        width: 24%;
        right: -24%;
    }
}
@media(max-width:1366px){
    .logo h1 a{
        font-size: 1.06em;
        letter-spacing: 4px;
    }
    .logo h1 a span{
        letter-spacing: 11px;
        padding: 5px 0 5px 13px;
    }
    .mobile-nav-button{
        margin: 3.7em 0 0;
        right: 3%;
    }
    .banner_info{
        margin: 6.3em 0 0 12em;
    }
}
@media(max-width:1280px){
    .wrapper {
        max-width: 1140px;
      }
}
@media(max-width:1080px){
   /* .banner{
        min-height: 535px;
    }*/
    .banner_info h2{
        font-size: 2em;
    }
    #typed{
        font-size: 1.3em;
        letter-spacing: 5px;
    }
    p .banner-p{
        letter-spacing: 2px;
        width: 56%;
    }
    .banner_info{
        margin: 5em 0 0 12em;
    }
    .mobile-menu ul{
        padding-top: 5.2em;
    }
}
@media(max-width:1050px){
    .banner_info{
        padding-left: 1em;
    }
}
@media(max-width:1024px){
    .mobile-menu{
        width: 30%;
        right: -30%;
    }
}
@media(max-width:991px){
   /* .banner{
        min-height: 500px;
    }*/
    .banner_info h2{
        font-size: 1.8em;
    }
    #typed{
        font-size: 1.1em;
        letter-spacing: 4px;
        line-height: 1em;
    }
    p .banner-p{
        letter-spacing: 2px;
        font-size: 14px;
    }    
    .typed-cursor{
        font-size: 2em;
    }
    .col-lg-8 h2{
        font-size: 38px;
    }
    #skills h3{
        font-size: 38px;
    }
    .wrapper {
        max-width: 960px;
    }    
    .cont-details p,
    .cont-details p a {
      font-size: 16px;
    }

    .cont-details h5 {
      font-size: 32px;
      line-height: 35px;
    }

    .contact-view {
      grid-template-columns: 1fr;
    }

    .map-content-9 {
      margin-top: 40px;
    }
}
@media(max-width:900px){

}
@media(max-width:800px){
    .banner{
       height: 100vh;
    }
    .logo h1 a{
        font-size: 0.9em;
    }
    .logo h1 a span{
        letter-spacing: 10px;
        padding: 4px 0 4px 11px;
    }
    .banner_info{
        margin: 5em 0 0 10em;
    }
    .mobile-menu ul li a{
        font-size: 0.8em;
    }
    header{
        padding: 1.5em 2em;
    }
    .mobile-nav-button{
        margin: 3em 0 0;
        right: 4%;
    }
    .mobile-menu ul{
        padding-top: 6em;
    }
    .mobile-menu{
        width: 35%;
        right: -35%;
    }
    .banner{
        min-height: 450px;
    }
    .banner_info h2{
        font-size: 1.6em;
    }
    #typed{
        font-size: 1em;
    }
    .typed-cursor{
        font-size: 1.6em;
    }
    p .banner-p{
        letter-spacing: 1px;
        font-size: 14px;
        width: 55%;
        line-height: 24px;
    }
    #typed{
        margin: 0 0 0.8em;
    }
}
@media(max-width:768px){
    /*.banner{
        min-height: 415px;
    }*/
    .banner_info{
        margin: 4.5em 0 0 10em;
    }
    .col-lg-8 h2{
        font-size: 36px;
    }
    .text span{
        font-size: 23px;
    }
    #skills h3{
        font-size: 36px;
    }
    .wrapper {
        max-width: 720px;
      }
}
@media(max-width:767px){
    .section-gap {
        padding: 3.5rem 0;
      }
      h3.global-title {
        font-size: 40px;
        line-height: 45px;
      }
}
@media(max-width:736px){
   /* .banner{
        min-height: 380px;
    }*/
    .banner_info{
        margin: 3.5em 0 0 10em;
    }
}
@media(max-width:667px){
    .mobile-menu ul li a{
        font-size: 0.72em;
        padding: 1em 0 1em 1.5em;
    }
    .mobile-menu{
        width: 42%;
        right: -42%;
    }
    .banner_info{
        margin: 3.5em 0 0 7em;
    }
}
@media(max-width:640px){

}
@media(max-width:600px){
    .banner_info h2 {
        font-size: 1.4em;
        letter-spacing: 1px;
    }
    #typed{
        font-size: 0.9em;
        letter-spacing: 3px;
    }
    p .banner-p{
        width: 61%;
    }
    .banner_info{
        margin: 3.5em 0 0 5.5em;
    }
    .col-lg-8 h2{
        font-size: 34px;
        font-weight: 500;
    }
    #skills h3{
        font-size: 34px;
        font-weight: 500;
    }
    h3.global-title {
        font-weight: 500;   
        font-size: 35px;
        line-height: 40px;
      }
}
@media(max-width:568px){
    .mobile-nav-button{
        margin: 2.6em 0 0;
    }
    .banner{
        min-height: 300px;
    }
    header{
        padding: 1.5em 2em 0;
    }
    .banner_info{
        margin: 4em 0 0 5.5em;
    }
    .wrapper {
        max-width: 540px;
    }
    h3.global-title {
        font-size: 30px;
        line-height: 35px;
    }
}
@media(max-width:480px){
    /*.banner{
        min-height: 305px;
    }*/
    .banner_info{
        margin: 2.5em 0 0 5.5em;
    }   
    .mobile-menu{
        width: 50%;
        right: -50%;
    }
    .banner_info{
        margin: 3em 0 0 2.3em;
    }
    .banner{
        min-height: 32em;
    }
    p .banner-p{
        width: 90%;
    }
    .col-lg-8 h2{
        font-size: 32px;
    }
    .text span{
        font-size: 22px;
    }
    #skills h3{
        font-size: 32px;
    }
    .section-gap {
        padding: 3rem 0;
    }
    .twice-two {
        grid-template-columns: 1fr;
    }
    button.btn-contact {
        width: 100%;
    }
}
@media(max-width:440px){
    .mobile-menu{
        width: 64%;
        right: -64%;
    }
}
@media(max-width:414px){
   /* .banner{
        min-height: 29em;
    }*/
    .banner_info{
        margin: 2em 0 0 1.5em;
    }
    header{
        padding: 1.2em 1.5em 0;
    }
}
@media(max-width:384px){
    .logo h1 a{
        font-size: 0.8em;
    }
    .logo h1 a span{
        letter-spacing: 9px;
    }
    .mobile-menu{
        width: 80%;
        right: -80%;
    }
    .text{
        align-items: center;
        text-align: justify;
    }
}
@media(max-width:375px){
    .col-lg-8 h2{
        font-size: 30px;
    }
    .text span{
        font-size: 20px;
    }
    .text{
        font-size: 15px;
    }
    .tools li{
        font-size: 15px;
    }
    #skills h3{
        font-size: 30px;
    }
}
@media(max-width:320px){
    .mobile-menu ul{
        padding-top: 5em;
    }
    .mobile-menu ul li{
        margin-bottom: 1em;
    }
    .text span{
        font-size: 20px;
    }
    .text{
        font-size: 15px;
    }
    .tools{
        font-size: 15px;
    }
}
/*------ Responsive ------*/